@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&family=Lugrasimo&display=swap');

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Incluir el padding y el borde en el ancho y alto del elemento */
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;

}

nav {
    width: 100vw;
    height: 5vh;
}

.contenedor-padre {
    display: flex;
    flex-wrap: wrap;
}
  
.contenedor {
    width:7%;
    margin-top: 9px;
    height: 30px;
    margin-right: 10px; /* Puedes ajustar el margen entre los contenedores según tu preferencia */
}
.contenedor a {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    font-family: 'Karla', sans-serif;
}

.contenedor a{
    position: relative;
    color:rgba(0, 0, 0, 0.8);
    overflow:hidden;
    text-decoration: none;
}
/* Efecto hover */
.contenedor a:hover {
    background-color: #999;
    color: black;
    transition: 1s;
}
#mainImage {
    margin-top: -80px;
    width: 100vw;
    height: 80vh; /* Cambiar de 80vh a 100vh para ocupar toda la altura de la ventana */
    background: url(imagenes/Av3.jpg);
    background-size: cover; /* Ajusta la imagen para cubrir completamente el contenedor */
    background-position: center; /* Centra la imagen horizontalmente */
    background-repeat: no-repeat;

}

#mainImage h1 {
    font-size: 120px;
    padding-top: 30px;
    text-align: center; /* Centra el texto horizontalmente dentro del contenedor */
    color: white; /* Ajusta el color del texto si es necesario */
    font-family: 'Karla', sans-serif;
}
#mainImage h2 {
    font-size: 40px;
    text-align: center; /* Centra el texto horizontalmente dentro del contenedor */
    color: white; /* Ajusta el color del texto si es necesario */
    font-family: 'Karla', sans-serif;
}
#mainImage h3 {
    margin-top: 18vh;
    font-size: 40px;
    text-align: center; /* Centra el texto horizontalmente dentro del contenedor */
    color: white; /* Ajusta el color del texto si es necesario */
    font-family: 'Karla', sans-serif;
    font-family: 'Lugrasimo', cursive;
}

#contactUs{
    position:absolute;
    margin-top: 15vh;
    margin-left: 5vw;
    width: 200px;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(86, 86, 88, 0.37);
    backdrop-filter: blur(1px);
    border-radius: 50px;
    text-align: center; /* Centra el texto horizontalmente dentro del contenedor */
    color: white; /* Ajusta el color del texto si es necesario */
    font-family: 'Karla', sans-serif;
    font-family: 'Lugrasimo', cursive;
    font-size: 25px;
    
}

#aboutUs{
    width: 100vw;
    height: 100vh;
    position: absolute;
}



#aboutUs img{
    margin-top: 10vh;
    margin-left: 10vw;
    width: 25vw;
    height: 70vh;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border:1px solid rgba(255, 255, 255, 0.18);
}

article h1{
    width: 40vw;
    height: 100px;
    position: absolute;
    top:0;
    margin-left: 30vw;
    margin-top: 10vh;
    font-size: 70px;
    text-align: center; 
    color: black;
    font-family: 'Karla', sans-serif;
}

article p{
    width: 55vw;
    height: 650px;
    position: absolute;
    top:0;
    margin-left: 30vw;
    background: rgba(255, 255, 255, 0.37);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    border:1px solid rgba(255, 255, 255, 0.18);
    margin-top: 20vh;
    font-size: 26px;
    text-align: center; 
    color: black;
    font-family: 'Karla', sans-serif;
}

#ofertas{
    width: 100vw;
    height: 100vh;
    margin-top: 100vh;

}

#ofertas h1{
    width: 50vw;
    height: 200px;
    top:0;
    font-size: 70px;
    text-align: center; 
    color: black;
    font-family: 'Karla', sans-serif;
}

#ofertas h2{
    width: 50vw;
    height: 200px;
    top:0;
    font-size: 40px;
    text-align: center; 
    color: black;
    font-family: 'Karla', sans-serif;
}

#ofertas h3{
    width: 30vw;
    margin-left: 20vw;
    height: 50px;
    position:absolute;
    font-size: 40px;
    text-align: center; 
    color: black;
    font-family: 'Karla', sans-serif;
    background: rgba(255, 255, 255, 0.37);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    border:1px solid rgba(255, 255, 255, 0.18);
}


.container{
    margin-top:0vh;
    width: 40%;
    height: 60vh;
    margin-left: 30%;
    overflow-y: hidden;


}

.container .slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.container ul{
    position: absolute;
    margin-top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.container ul li{
    list-style: none;
    cursor: pointer;
    margin: 10px;
}


.container ul li video{
    width: 200px;
    transition: all 0.3s;
}
.container ul li video:hover{
    transform: scale(1.1);
}

video{
    width: 100%;
    height: 100%;
}

ul p{
    text-align: center; 
    color: black;
    font-family: 'Karla', sans-serif;
}


#videoInfo{
    height: 55vh;
    width: 30vw;
    position:absolute;
    margin-left: 67.5vw;
    background: rgba(255, 255, 255, 0.37);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    border:1px solid rgba(255, 255, 255, 0.18);
}


#videoTitle{
    font-size: 400px;
    text-align: center; 
    color: black;
    font-family: 'Karla', sans-serif;
    margin-left: -10vw;
}

#videoDescription{
    font-size: 30px;
    left: 0;
    text-align: center; 
    color: black;
    font-family: 'Karla', sans-serif;
    margin-top: -15vh;
}
#videoDetails{
    padding-top: 20px;
    font-size: 30px;
    left: 0;
    text-align: center; 
    color: black;
    font-family: 'Karla', sans-serif;

}


#videoTitleRD{
    padding-top: 20px;
    height: 200vh;
    left: 0;
    text-align: center; 
    color: black;
    font-family: 'Karla', sans-serif;
    margin-left: -10vw;
    display:none;

}


#videoTitleBsAs{
    padding-top: 20px;
    height: 200vh;
    left: 0;
    text-align: center; 
    color: black;
    font-family: 'Karla', sans-serif;
    margin-left: -10vw;
    display:none;

}



#servicios{
    width: 100vw;
    height: 120vh;
    margin-top: 60vh
}


#servicios h1{
    width: 50vw;
    height: 200px;
    font-size: 70px;
    text-align: center; 
    color: black;
    font-family: 'Karla', sans-serif;
}

#servicios h2{
    width: 50vw;
    height: 200px;
    margin-top:-7vh;
    font-size: 30px;
    text-align: center; 
    color: black;
    font-family: 'Karla', sans-serif;
}

.contenedorbox {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: 0 auto;
}
.square {
    width: 400px;
    height: 400px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin-right: 2vw;
}
.square:nth-child(1){
    background-image: url(imagenes/azafata.jpg);
    background-size: cover; 
    background-position: center;
    width:400px;
    height: 400px;
}
.square:nth-child(1){
    background-image: url(imagenes/azafata.jpg);
    background-size: cover; 
    background-position: center;
    width:400px;
    height: 400px;
}
.square:nth-child(2){
    background-image: url(imagenes/aereopuerto.jpg);
    background-size: cover; 
    background-position: center;
    width:400px;
    height: 400px;
}
.square:nth-child(3){
    background-image: url(imagenes/cultura.jpg);
    background-size: cover; 
    background-position: center;
    width:400px;
    height: 400px;
}


.square h2 {
    margin-left: -15vw;
    margin-top: 45vh;
    color: black;
    
}

.square p{
    width: 400px;
    margin-top: 20vh;
    font-size: 25px;
    text-align: center; 
    color: black;
    font-family: 'Karla', sans-serif;
    background: rgba(255, 255, 255, 0.37);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    border:1px solid rgba(255, 255, 255, 0.18);
}

#vip{
    margin-top: 20vh;
    width: 100vw;
    height: 100vh;
    background-image: url(imagenes/lambo1.webp);
    background-size: cover; /* Ajusta la imagen para cubrir completamente el contenedor */

    background-repeat: no-repeat;
}

#vip h1{
    width: 50%;
    height: 200px;
    font-size: 70px;
    text-align: center; 
    color: black;
    position: absolute;
    margin-top: -10vh;
    margin-left: 50vh;
    font-family: 'Karla', sans-serif;
    background: rgba(255, 255, 255, 0.37);
    box-shadow: 0 8px 32px 0 rgba(9, 10, 22, 0.37);
    backdrop-filter: blur(4px);
    border:1px solid rgba(255, 255, 255, 0.18);
}

#vip h2{
    width: 30vw;
    height: 10vh;
    font-size: 70px;
    text-align: center; 
    color: black;
    margin-top: 20vh;
    position:absolute;
    margin-left: 10vh;
    font-family: 'Karla', sans-serif;
    background: rgba(255, 255, 255, 0.37);
    box-shadow: 0 8px 32px 0 rgba(5, 6, 22, 0.37);
    border:1px solid rgba(255, 255, 255, 0.18);
}
#vip h2 ul{
    background: rgba(255, 255, 255, 0.37);
    box-shadow: 0 8px 32px 0 rgba(4, 5, 22, 0.37);
    backdrop-filter:blur(4px);
    border:1px solid rgba(255, 255, 255, 0.18);
}
#vip h2 ul, li{
    font-size: 0.8em;
    text-decoration: none;
    list-style: none;
}

#sede1{
    width: 40vw;
    height: 30vh;
    position: absolute;
    margin-top: 20vh;
    margin-left: 40vw;
    background-image: url(imagenes/sede1.webp);
    box-shadow: 0 8px 32px 0 rgba(4, 5, 22, 0.37);
    filter: saturate(120%);
    border:1px solid rgba(255, 255, 255, 0.18);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#sede1 p{
    text-align: center; 
    color: black;
    font-family: 'Karla', sans-serif;   
    font-size: 50px;
    color:white;
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
    box-shadow: 0 8px 32px 0 rgba(4, 5, 22, 0.37);
    backdrop-filter: blur(4px);
    border:1px solid rgba(255, 255, 255, 0.18);
}
#sede1:hover p{
    transform: translateX(0);
    opacity: 1;
    display:block;
}

#sede2{
    width: 40vw;
    height: 40vh;
    position: absolute;
    margin-top: 55vh;
    margin-left: 40vw;
    background-image: url(imagenes/sede2.webp);
    box-shadow: 0 8px 32px 0 rgba(4, 5, 22, 0.37);
    filter: saturate(120%);
    border:1px solid rgba(255, 255, 255, 0.18);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#sede2 p{
    text-align: center; 
    color: black;
    font-family: 'Karla', sans-serif;   
    font-size: 50px;
    color:white;
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
    box-shadow: 0 8px 32px 0 rgba(4, 5, 22, 0.37);
    backdrop-filter: blur(4px);
    border:1px solid rgba(255, 255, 255, 0.18);
}
#sede2:hover p{
    transform: translateX(0);
    opacity: 1;
    display:block;
}

#contactanos{
    width: 100vw;
    height: 5vh;
    background-color:black;
}


.contenedor-footer {
    display: flex;
    flex-wrap: wrap;
}
  
.contenedorfoot {
    width:24vw;
    margin-top: 9px;
    height: 30px;
    margin-right: 10px; 
}
.contenedorfoot a {
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: 'Karla', sans-serif;
}

.contenedorfoot a{
    position: relative;
    color:white;
    overflow:hidden;
    text-decoration: none;
}
/* Efecto hover */
.contenedorfoot a:hover {
    background-color: #999;
    color: white;
    transition: 1s;
}