
/*BARRA DE BUSQUEDA*/

.boton {
    padding: 10px 50px;
    background: var(--color-cinco);
    color: var(--blanco);
    border: 1px solid var(--color-tres);
    border-radius: 20px;
    box-shadow: 0 0 6px 0 var(--color-dos);
    cursor: pointer;
}

.boton:hover {
    background: var(--color-cuatro);
    color: var(--blanco);
    border: 1px solid var(--blanco);
    border-radius: 20px;
}

input[type=search] {
    width: 450px;
    height: 40px;
    border-radius: 20px;
}