@media (max-width:1150px){


    #Uno{
        position:absolute;

    }
    #Dos{
        position:absolute;
        margin-top:50vh;
    }
    #Tres{
        position:absolute;
        margin-top:100vh;
    }
    #Cuatro{
        position:absolute;
        margin-top:150vh;

    }
    #Cinco{
        position:absolute;
        margin-top:200vh;
    }
    #centro{
        margin-right: 100px;

    }
    .slider{
        width: 80%;
        border-radius: 10px;
        margin-top:165vh;
      }
    
    .field-group{
          display:none;
      }
    .Ape-group{
        display:none;
    }
    .Mail-group{
        display:none;
    }
    .Tel-group{
        display:none;
    }
    legend{
        left: 0px;
    }
    
}